.screen{
    width: 440px;
    height: 535px;
    background: rgba(111, 73, 206, 0.896);
    margin-left: 420px;
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 15px 20px;
    border-color: blueviolet;
    border-width: 10px;
   
}
#header{
    width: 410px;
    height: 52px;
    background: rgb(160, 160, 235);
    margin-left: 15px;
    pointer-events: none;
    font-weight: bold;
    font-size: 20px;
    border-color: rgb(160, 160, 235);
    border-radius: 10px 10px;
}
.btn{
    width: 57px;
    height: 33px;
    color: azure;
    background: rgba(64, 57, 108, 0.486);
    margin-left: 25px;
    border-radius: 6px;
    border-color:  rgba(64, 57, 108, 0.486);
}
.row{
    padding: 25px;
}